#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-box {
    border: 1px solid #dbdbdb;
    border-radius: 8px;

    margin-top: 230px;
    padding: 48px 40px 36px;

    width: 448px;
    height: 500px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-text {
    padding-top: 10px;

    font-size: 24px;
    font-weight: 400;
}

.move-text {
    padding-top: 5px;

    font-size: 16px;
}

.main-login {
    position: relative;

    margin: 30px 1px 0px 1px;

    border: 1px solid #dddddd;
    border-radius: 4px;

    padding: 13px 15px;

    width: 366px;
    height: 54px;
}

.signin-label {
    position: absolute;
    top: 14px;
    left: 15px;

    font-size: 17px;
    color: #5f6368;
    cursor: text;

    transition: all 100ms linear;
}

.onfocus-label {
    position: absolute;
    top: -10px;
    left: 10px;

    transition: all 100ms linear;

    padding: 0px 5px;

    font-size: 13px;
    color: #1a73e8;

    background-color: white;

}

.signin-input {
    border: none;
    outline: none;

    width: 100%;
    height: 100%;

    font-size: 17px;

    cursor: text;
}

.onfocus-input {
    border: 2px solid #1a73e8;
}

.forget-email {
    padding: 9px 0px 3px;
}

.text-style1 {
    font-size: 17px;
    color: #1a73e8;

    cursor: pointer;
}

.main-text {
    margin-top: 35px;

    width: 368px;
    
}

.text1 {
    padding: 9px 0px 3px;

    font-size: 16px;
    color: #5f6368;
}

.signup-and-next {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 26px 0px 0px -8px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 48px;
}

.signup-text {
    font-size: 15px;
    color: #1a73e8;
}

.next-button {
    border: none;
    border-radius: 5px;
    
    width: 76px;
    height: 37px;

    background-color: #1a73e8;

    font-size: 14px;
    color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;

    width: 448px;
}

.footer-left {
    display: flex;
    justify-content: space-between;

    width: 50px;
}

.text-korean{
    font-size: 12px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.footer-nav li{
    font-size: 12px;
    color: #757575 ;
}